{% import "snippets.twig" as snippets %}
{% extends 'archive.twig' %}

{% block archive_header_title %}
  <h1 class="uk-margin-remove">{{ title|e('esc_html') }}</h1>
  {% if description %}
    <p class="uk-text-lead uk-width-4-5">{{ description|e('esc_html') }}</p>
  {% endif %}
{% endblock %}