{% extends 'single.twig' %}

{% import "snippets.twig" as snippets %}
{% import "functions.twig" as functions %}

{% block single_header %}
  {% if fn('post_password_required', post.id) %}
    {{ parent() }}
  {% endif %}
{% endblock %}

{% block single_content_wrap %}
  <div>
  
    {% block single_content %}
      <section class="article-content">
        {% if not fn('post_password_required', post.id) %}
          <div class="post-content article-content-editor gutenberg-editor">
            {{ post.content }}
          </div>
        {% else %}
          <div class="password-protected-form uk-container uk-container-xsmall uk-section">
            {{ functions.password_protected_form(context) }}
          </div>
        {% endif %}
      </section>
    {% endblock %}
    
    {% block single_footer %}
    {% endblock %}
  
  </div>
{% endblock %}

{% block scripts %}
  {% if fn('post_password_required', post.id) %}
    {{ parent() }}
  {% endif %}
{% endblock %}