<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
  <div class="uk-navbar-left">
    <div class="uk-navbar-item uk-text-uppercase pull-left-15">
      {{ fn('yoast_breadcrumb', '<div id="breadcrumbs">','</div>') }}
    </div>
  </div>
</nav>